<settings>
<category label="Proxy">
<setting label="[B][COLOR gold]Opções do Proxy[/COLOR][/B] : " type="lsep"/>
<setting label="[B]Ativar Proxy[/B]" id="proxy" type="bool"  default="false" />
<setting label="[B]Número de Tentativas[/B]" id="proxy_try" type="enum" values="1 Vez|2 Vezes|3 Vezes|4 Vezes|5 Vezes|6 Vezes|6 Vezes|7 Vezes|8 Vezes|9 Vezes|10 Vezes" default="4" />
<setting label="[B][COLOR gold]Utilize Apenas se a Operadora Estiver Bloqueando o Servidor[/COLOR][/B]" type="bool"/>
<setting label="[B][COLOR gold]de Hospedagem[/COLOR][/B]." type="bool"/>
<setting label="[B][COLOR gold]Aviso[/COLOR][/B] : [B][COLOR gold]Pode Demorar a Carregar[/COLOR][/B]" type="bool"/>
<setting label="[B][COLOR gold]Utilize VPN se a Operadora Bloqueiar o IPTV[/COLOR][/B]." type="bool"/>
</category>

<category label="Canais">
<setting label="[B][COLOR gold]Configurações dos Canais[/COLOR][/B] : " type="lsep"/>
<setting label="[B]Exibir Canais [COLOR gold]4K[/COLOR] (Lista M3U8)[/B]" id="uhdtv" type="bool" default="true" />
<setting label="[B]Exibir Canais [COLOR gold]FHD[/COLOR] (Lista M38)[/B]" id="fhdtv" type="bool" default="true" />
<setting label="[B]Exibir Canais [COLOR gold]HD[/COLOR] (Lista M3U8)[/B]" id="hdtv" type="bool" default="true" />
<setting label="[B]Exibir Canais [COLOR gold]SD[/COLOR] (Lista M3U8)[/B]" id="sdtv" type="bool" default="true" />
<setting label="[B](Lista M3U8) Exibir Apenas Canais de[/B]" id="filtrar" type="enum" values="Desativado|Canais Abertos|Músicas &amp; Variedades|Filmes &amp; Séries|Infantil|Documentários|Esportes|Notícias" default="0" />
</category>

<category label="Controle dos Pais">
<setting label="[B][COLOR gold]Controle dos Pais[/COLOR][/B] : " type="lsep"/>
<setting label="[B]Exibir Menu Adultos[/B]" id="adult" type="bool" default="false" />
<setting label="[B]Exibir Canais Adultos (Lista M3U8)[/B]" id="adult2" type="bool" default="false" />
<setting label="[B]Tipo de Teclado (OK Para Trocar)[/B]" id="keyboard" type="enum" values="Númerico|Alfanúmerico" default="0" />
<setting label="[B][COLOR gold][B]Senha Padrão 0069[/B][/COLOR]" type="bool"/>
</category>

<category label="Player">
<setting label="[B][COLOR gold]Escolha o Player[/COLOR][/B] : " type="lsep"/>
<setting label="[B][COLOR gold]Player[/COLOR][/B] : " id="player_opt" type="enum" values="[B][COLOR gold]Kodi[/COLOR][/B]|" visible="true" default="0" />
<setting label="[B]Ativar [COLOR gold]F4mTester[/COLOR][/B]" id="player_f4mtester" type="bool" default="false" />
<setting label="[B]Ativar [COLOR gold]F4mProxy[/COLOR][/B]" id="player_f4mproxy" type="bool" default="false" />
<setting label="[B]Ativar [COLOR gold]InputStream[/COLOR][/B]" id="player_inputstream" type="bool" default="false" />
<setting label="[B]Ativar [COLOR gold]FFMPEG[/COLOR] Padrão do Kodi[/B]" id="ffmpeg_opt" type="bool" default="false" />
<setting label="[B]Desativar [COLOR gold]Repetição[/COLOR] Automática[/B]" id="repeat_opt" type="bool" default="false" />
<setting label="[B][COLOR gold]Depois de Escolher o Player Reinicie o Kodi[/COLOR][/B]" type="bool"/>
</category>

<category label="Complementos">
<setting label="[B][COLOR gold]Configurações de Complementos[/COLOR][/B] : " type="lsep"/>
<setting label="[B]Verificar Complementos[/B]" id="check_addon" type="bool" default="true" />
<setting label="[B]Baixar e Instalar Elementum[/B]" id="elementum" type="bool" default="true" />
<setting label="[B]Baixar e Instalar Elementum Burst[/B]" id="elementum_burst" type="bool" default="true" />
<setting label="[B]Baixar e Instalar Youtube[/B]" id="youtube" type="bool" default="false" />
</category>

<category label="Configurações Gerais">
<setting label="[B][COLOR gold]Configurações Gerais[/COLOR][/B] : " type="lsep"/>
<setting label="[B]Exibir Favoritos[/B]" id="favoritos" type="bool" default="false" />
<setting label="[B]Limpar Favoritos[/B]" type="action" action="RunScript(plugin.video.megatv), limparFavoritos)"/>
<setting label="[B]Não Mostrar Itens no Nome do Canal[/B]" id="donotshowbychannels" type="bool" default="false"/>
<setting label="Pedir itens da lista de reprodução para escolher a caixa de diálogo" id="ask_playlist_items" type="bool" default="true" />  
</category>
</settings>
